{% extends 'base.html' %}

{% block content %}

<!--show the current schema-->
<div class="padding_table">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Column name</th>
      <th scope="col">column type</th>
    </tr>
  </thead>
  <tbody>
  {% for s in schema %}
    <tr>
      <th class="counterCell"></th>
      <td>{{ s.column_name }}</td>
      <td>{{ s.column_type }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>

{% for s in schema %}

<!--download the schema-->
<form action="{% url 'schema_csv_create' view.kwargs.pk %}" method="GET" style="float: right;">
  {% csrf_token %}
  {% endfor %}
  <label for="csv_rows">Rows:</label>
  <input name="csv_rows" type="number" min="1" max="9999" id="csv_rows">
  <input class="btn btn-outline-success" type="submit" value="Export CSV">
</form>
</div>

{% endblock content %}
